.header {
	display: flex;
	align-items: center;
	background-color: #762009;
	color: white;
	height: 5.2rem;
	position: sticky;
	top: 0;
	z-index: 9999;
}

.header__title {
	position: relative;
	left: 10rem;
}

.header__cart {
	position: relative;
	left: 80rem;
	border: 1px solid black;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	min-width: 15rem;
	border-radius: 500px;
	background-color: #3f1200;
}

.cartItem-count {
	background-color: #a53219;
	height: 30px;
	width: 40px;
	padding: 2px;
	text-align: center;
	border-radius: 243px;
	border: 1px solid #a53219;
	cursor: pointer;
}
