.mealItem__container {
  border: 1px solid black;
  width: 60rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  top: 32rem;
  background-color: white;
  padding: 40px;
}

.mealItem {
  margin: 0;
  padding: 0;
}